.senator-card {
  width: 400px;
  margin: 5px;
}

.center-card-content {
  display: flex;
  justify-content: center;
}

.senators-container {
  justify-content: space-evenly;
  max-width: 900px;
}

.spinner-container {
  padding-top: 50px;
}
