.container {
  justify-content: space-evenly;
  max-width: 900px;
}

.vote-card {
  min-width: 400px;
  max-width: 800px;
  margin: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.spinner-container {
  padding-top: 50px;
}
